.grid {
  margin: 0 auto;
  width: 95%;
}
.imgCategory {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
}
.categoryName {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 130%;
  color: black;
}
